# Ignore everything
/*

# Track certain files and directories
!.gitignore
!/apply-config.sh
!/LICENSE
!/README.md
!certificate

# VyOS config
!config-parts/
!scripts/
!secrets/
!hosts/

secrets/*.env
